body {
    background:linear-gradient(to right,blue,white);
    text-align: center;
    font-family: sans-serif;
    position: relative;
    top: 250px;
    
}

.container {
    background:transparent;
    border: 5px solid black;
    height: 275px;
    width: 750px;
    margin: auto;
    text-align: center;
    border-radius:15px;
}

h1 {
    
    color: greenyellow;
}

.btn {
    margin: 50px auto;
    height: 50px;
    width: 300px;
    font-size: 22px;
    background:linear-gradient(to left,grey,white);
    border-radius: 10px;
    animation-name: bounce ;
    animation-duration: 3s;
    animation-timing-function: ease-in-out  ;
    animation-iteration-count: infinite;
    padding-bottom: 50px;
}

.output {
    margin: 25px auto;
    font-size: 26px;
    font-family: monospace;
    color:black;
    padding: 50px;
}

@keyframes anim{
    0%{
        background:linear-gradient(to top, white,silver);
    }
    100%{
        background:linear-gradient(to bottom, white,silver);
    }
}